
<section class="py-5 m-4" style="background-color: #f8f9fa;">
  <div class="d-flex gap-2 mb-3">
    <input
      type="text"
      class="form-control w-80"
      placeholder="{{t('searchPlaceholder')}}"
      [(ngModel)]="query"
      (keyup.enter)="SearchMovies()"
    />
    <button class="btn btn-warning fw-semibold" type="button" (click)="SearchMovies()">{{ t('searchButton') }}</button>
  </div>

  <div class="d-flex gap-3 mb-3">
    <select class="form-select w-25" [(ngModel)]="selectedGenre" (change)="onFilterChange()">
      <option [ngValue]="null">{{ t('allGenres') }}</option>
      <option *ngFor="let g of genres" [ngValue]="g.id">{{ g.name }}</option>
    </select>

    <select class="form-select w-25" [(ngModel)]="sortBy" (change)="onFilterChange()">
      <option value="popularity.desc">{{ t('sortPopularity') }}</option>
      <option value="release_date.desc">{{ t('sortReleaseDate') }}</option>
      <option value="vote_average.desc">{{ t('sortTopRated') }}</option>
    </select>
  </div>

  <div class="row mt-4" *ngIf="this.services.movies.length == 0">
    <div class="col-md-8">
      <h6 class="fw-bold">
       {{ t('searchResults') }}
        <span *ngIf="query">for "{{ query }}"</span>
      </h6>
    </div>
  </div>

  @if(this.services.movies.length == 0) {

<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">{{ t('loading') }}</span>
  </div>
</div>
  }
  <app-card-components [movies]="this.services.movies"></app-card-components>
</section>
<app-footer
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)">
</app-footer>
